<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VUE</title>
    <script src="node_modules\.store\vue@2.6.11\node_modules\vue\dist\vue.js"></script>
</head>
<body>
    <div id="app">
        <p v-bind:style="[mystyle, mystyle2]">nice</p>
        <input type="button" value="click" v-on:click="handleclick(1)">
        <button @click="handleclick(1)">Here</button>
        <hr>
        <button @mouseover="handleclick(2)">over</button>
        <button @dblclick="handleclick(2)">over</button>
        <!-- dblclick  -->
        <button @click="add">add-on</button>
        <!-- v-if will be create everytime each time whenever the condition is changed that makes the flag become to the oppsite of the orignal result -->
        <div v-if="grade>90">perfect</div>
        <div v-else-if="grade<90">good</div>
        <!-- use template to decide which element will use v-if true or false (show or no show) -->
        <template v-if="flag"> 
            <!-- The web engine will not read the template as html element here-->
            <div>perfect</div>
            <div>perfect</div>
            <div>perfect</div>
            <div>perfect</div>
        </template>

        <!-- v-show practice -->
        <div id="_show">
            <!-- if the flag = false, this html code will still exist, but the dispay will be set to none -->
            <!-- V-show does not support in <template> and <v-else> -->
            <h1 v-show="flag">I am v-show</h1> 
            <div style="width: 100px; height: 100px; background-color: aqua;" v-show="flagForChange">I will be hiden if you press the button</div>
            <hr>
            <button @click="change()">button for hide the text</button>
        </div>
    </div>
    <script>
        var vm = new Vue({
            el:"#app",
            data:{
                mystyle:{
                    color:"red",
                    fontszie:"30px",
                },
                mystyle2:{
                    backgroundColor:"black",
                },

                arr:[12, 13],
                flag:true,
                grade:78,
                flagForChange:true,
            },

            methods: {
                handleclick:function(id){
                    alert("yes, the parameter is: " + id)
                    console.log("yes, the parameter")
                },
                add(){
                    // using this will point to the arr array in data
                    this.arr.push(88)
                    console.log(this.arr)
                },

                change(){
                    // change the flag when the button is clicked
                    this.flagForChange = !this.flagForChange 
                },
            },
        })
    </script>
</body>
</html>